body{
    background-image: url('https://img.freepik.com/free-vector/bokeh-background_23-2148486863.jpg?size=626&ext=jpg&ga=GA1.2.915742194.1679633262&semt=sph');
background-repeat: no-repeat;
background-size: 100%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 200%;
}