body{
    background-image: url('https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?size=626&ext=jpg&ga=GA1.2.915742194.1679633262&semt=sph');
background-repeat: no-repeat;
background-size: 100%;
}